/* 
    Created on : Mar 4, 2018, 7:55:10 PM
    Author     : Kevin
*/

::selection {
    background: #43C6DB;
    color:#fff;
}

::-moz-selection {
    background: #43C6DB;
    color:#fff;
}

::-webkit-scrollbar { 
    display: none; 
}


.btn-custom{
    background:#43C6DB;
    color:#fff;
}

.btn-custom:hover{
    background:#43C6DB;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav > li > form > a:hover, .navbar-more .navbar-nav > li > a{
    color:#43C6DB;
}

.orders-container {
    background-color: white;
    padding-top: 0;
    margin-bottom: 30px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("#{resource['images/banners/readbook.jpg']}");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-black {
    background-color:#000000;
    color: white;
    opacity: 0.98;
    height: 275px;
}

hr.bar {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #FFFFFF, #000000, #FFFFFF);
    background-image: -moz-linear-gradient(left, #FFFFFF, #000000, #FFFFFF);
    background-image: -ms-linear-gradient(left, #FFFFFF, #000000, #FFFFFF);
    background-image: -o-linear-gradient(left, #FFFFFF, #000000, #FFFFFF); 
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: black;
    border-color: black;
}

.btn-outlined.btn-primary {
    background: none;
    border: 1px solid black;
    color: black;
}

.background {
    min-height: 60%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}

.book-image {
    width:79px; 
    height:120px;
}

.book-image:hover {
    transform: scale(1.03);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.bg-black {
    margin-top: 50px;
}

.book-info {
    height: 120px;
    margin-bottom: 20px;
}

.book-prices {
    height: 120px;
    margin-bottom: 20px;
    padding-right: 7%;
}

.book-image-container {
    margin-bottom: 20px;
}

.information {
    font-family: Raleway;
    font-size: 14px;
    color: #43C6DB;
}

.book-info-label {
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.item-id-label {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
}

.item-id {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    color: #43C6DB;
}

.item-id-container {
    padding-right: 0;
}

.totals {
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
}

.total-values {
    font-family: Raleway;
    font-size: 16px;
    color: #43C6DB;
    font-weight: bold;
}

.total-container {
    padding-right: 7%;
}

.thetotal {
    float: right;
    float: right;
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
    color: #43C6DB;
}

.btn-outlined.btn-primary.signup-button2 {
    background: none;
    border: 1px solid black;
    color: black;
    font-family: Raleway;
    font-size: 20px;
}

.btn-outlined.btn-primary.signup-button2:hover,
.btn-outlined.btn-primary.signup-button2:active {
    color: white !important;
    background: black;
    border-color: black;
}

#log-link {
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    float: right;
    margin-right: 4px;
} 

#log-link2 {
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    float: right;
    margin-right: 4px;
} 

#log-link:hover, #log-link2:hover {
    color: black;
}

.email {
    display:inline;
    float: right;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-right: 7%;
}

.email-btn {
    margin-right: 4px;
}